<br><br>

<footer>
    <div class="container">
        <div class="row" id="footer-section">
            <div class="col-md-3">
                <div class="footer-widget">
                    <p class="footer-title">
                        <i class="fa fa-share-alt"></i> Me suivre<span class="head-line"></span>
                    </p>
                    <ul class="footer-social">
                        <li>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#" class="linkdin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="flickr"><i class="fa fa-flickr"></i></a>
                        </li>
                        <li>
                            <a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a>
                        </li>
                        <li>
                            <a href="#" class="instgram"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
                        </li>
                        <li>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <p class="footer-title">
                        <i class="fa fa-instagram"></i> Test<span class="head-line"></span>
                    </p>
                    <ul class="footer-picture">
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="lightbox" href="{{ asset('bundles/adw/img/img_72x65.jpg') }}">
                                <img src="{{ asset('bundles/adw/img/img_72x65.jpg') }}" alt="">
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <p class="footer-title">
                        <i class="fa fa-twitter"></i> Twitter<span class="head-line"></span>
                    </p>
                    <ul class="footer-twitter">
                        <li>
                            <p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.</p>
                            <span>28 February 2014</span>
                        </li>
                        <li>
                            <p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.An Fusce eleifend aliquet nis application.</p>
                            <span>26 February 2014</span>
                        </li>
                        <li>
                            <p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.</p>
                            <span>28 February 2014</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <p class="footer-title">A propos<span class="head-line"></span></p>
                    <p><img alt="Footer Logo" class="img-responsive" src="images/footer-margo.png"></p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    <ul>
                        <li><span>Phone Number:</span> +01 234 567 890</li>
                        <li><span>Email:</span> company@company.com</li>
                        <li><span>Website:</span> www.yourdomain.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="copyright-section" class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <p>
                        &copy; 2014 Margo - All Rights Reserved
                        <a href="http://graygrids.com">GrayGrids</a>
                    </p>
                </div>
            </div>
            <div cass="cold-md-6">
                <div class="footer-nav">
                    <ul class="footer-nav">
                        <li><a href="#">Plan du site</a></li>
                        <li><a href="#">Mentions légales</a></li>
                        <li><a href="#">Accessibilité</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>